<?xml version="1.0"?>
<robot name="azure-kinect">
  <material name="black">
    <color rgba="0. 0. 0. 1" />
  </material>
  <material name="dark_grey">
    <color rgba="0.1 0.1 0.1 1" />
  </material>
  <material name="gray">
    <color rgba="0.3 0.3 0.3 1" />
  </material>

  <link name="camera_body">
    <visual>
      <origin xyz="0. 0. 0." />
      <geometry>
        <box size="0.0994 0.0996 0.023" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="camera_base">
    <visual>
      <origin xyz="-0.013 0. 0." />
      <geometry>
        <box size="0.026 0.103 0.039" />
      </geometry>
      <material name="dark_grey" />
    </visual>
  </link>

  <joint name="camera_base_to_body" type="fixed">
    <parent link="camera_base" />
    <child link="camera_body" />
    <origin xyz="-0.0757 0. 0.008" rpy="0. 0. 0." />
  </joint>rcal

</robot>