<launch>
  <!-- Start the K4A sensor driver -->
  <group ns="k4a" >

    <!-- TODO: move into a nodelet and combine with image_proc nodelet -->
    <include file="$(find azure-kinect-ros-driver)/launch/driver.launch" >
      <arg name="depth_enabled"     value="true" />
      <arg name="depth_mode"        value="WFOV_2X2BINNED" />
      <arg name="color_enabled"     value="true" />
      <arg name="color_resolution"  value="720P" />
      <arg name="fps"               value="15" />
      <arg name="point_cloud"       value="false" />
      <arg name="rgb_point_cloud"   value="false" />
    </include>
    
    <!-- Spawn a nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
      <param name="num_worker_threads" value="8" />
    </node>

    <!-- Spawn an image_proc/rectify nodelet to rectify the RGB image -->
    <node pkg="nodelet" type="nodelet" name="rectify_rgb"
          args="load image_proc/rectify manager --no-bond"
          respawn="true">
      <remap from="image_mono"  to="rgb/image_raw" />
      <remap from="image_rect"  to="rgb/image_rect" />
    </node>
  </group>

  <!-- Start rtabmap_ros node -->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch" ns="rtabmap" >
    <arg name="rgb_topic"          value="/k4a/rgb/image_rect" />
    <arg name="depth_topic"        value="/k4a/depth/image_rect" />
    <arg name="camera_info_topic"  value="/k4a/rgb/camera_info" />
    <arg name="approx_sync"        value="false" />
    <arg name="frame_id"           value="camera_base" />
    <arg name="args"               value="--delete_db_on_start" />
  </include>
</launch>
